#!/bin/env bash
use asdf

export WORKSPACE="$(expand_path .)"
export PRESERVED="from workspace"
export OVERRIDEN="from workspace"

export PROJECT_A="${WORKSPACE}/src/github.com/coreyti/ergo-api"
export PROJECT_B="${WORKSPACE}/src/github.com/coreyti/ergo-cli"
export PROJECT_C="${WORKSPACE}/src/github.com/coreyti/ergo-sdk"
export PROJECT_D="${WORKSPACE}/src/github.com/coreyti/ergo-web"

export MESSAGE="cogito! cogito!"

# hmm...
unset VERBOSE

# NOTES:
# - ENV variables that are sensitive, overriding, or of personal preference
#   belong in `.local/envrc`.
# - `.local` is ignored from git commits.
source_up
source_env_if_exists .local/envrc

PATH_add bin
