#!/bin/env bash

export WORKSPACE="$(expand_path .)"
export PRESERVED="from workspace"
export OVERRIDEN="from workspace"

# hmm...
unset VERBOSE

# NOTES:
# - ENV variables that are sensitive, overriding, or of personal preference
#   belong in `.local/envrc`.
# - `.local` is ignored from git commits.
source_env_if_exists .local/envrc

PATH_add bin
