#!/bin/env bash

source_up
export OVERRIDEN="from project A"
export PROJECT="$(expand_path .)"

source_env_if_exists .local/envrc

# Be sure each of the following are defined in `.local/envrc`:
: ${SECRET_KEY:-define in \".local/envrc\"}
: ${SECRET_VAL:-define in \".local/envrc\"}
missing_secrets .local/envrc

PATH_add bin
